/* PC */
@media (min-width: 1025px) {

}



/* Tablet */
@media (max-width: 1024px) and (min-width: 740px) {
    #content .box-img {
        display: none;
    }

    #content .content-section .content-box{
        padding: 5%;
        text-align: justify;
        position:relative;
    }
    #content .blog-item{
        float: left;
        width: 45%;
        margin-left: 5%;
    }
}


/* Mobile */
@media (max-width: 739px){


    #content .box-img {
        display: none;
    }

    #content .content-section .content-box{
        padding: 5%;
        text-align: justify;
        position:relative;
    }
    #content .blog-item{
        float: left;
        width: 45%;
        margin-left: 5%;
    }

    #nav > li {
        display: block;
    }

    

}

