/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:  Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    font-size: 100%;
    
}
/* 
nguyên tắc làm web
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước (Width, Height)s
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông, ....)
 */


.clear{
    clear: both;
}

.text-white{
    color:#fff !important;
}

#main{

}



#header{
    height: 46px;
    background-color: #fff;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;

}

#header #header-title{
    display:inline-block;
    padding: 8px 20px;
}



#nav{
    display: block;
    float: right;

}

#nav, .subnav{
    list-style-type:none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
        color: #000;
        text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    display: block;
    border-radius: 2px;
    height: 46px;
}

#nav li a:hover{
    color: #ccc;
    background-color: #333;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    border-radius: 20px;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ccc;
    min-width: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .nav-arrow-down{
    font-size: 14px;
}




#header #header-title a{
    color: #000;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: inherit;
    text-decoration: none;
}

#slider{

    background: url('/assets/img/slider/avata.jpg') top center / cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 0;
    height: 800px;
}

#slider .text-content{
    position:absolute;
    bottom: 4rem;
    color:#fff;
    width: 100%;
    text-align: center;
    
}
#slider .text-heading{
    font-size: 45px;
    font-weight: 500;
    line-height: 1.62;
    font-family: "Courier New", "Courier New", monospace;
    word-wrap: break-word;

}

#content{
    width: 100%;
}

#content .content-section{
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 800px;
    box-shadow: 0 0 800px rgba(0, 0, 0, 0.8);
}

#content .content-section .section-heading{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.62;
    font-family: "Courier New", "Courier New", monospace;
    
}

#content .content-section .content-box{
    padding-left: 35%;
    padding-right: 5%;
    text-align: justify;
    position:relative;
}

#content .content-box > h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
}

#content .content-box > h4{
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.42;
    font-family: "Courier New", "Courier New", monospace;
    overflow: hidden;
}

#content .content-box > p{
    font-size: 20px;
    font-style: oblique;
    font-weight: 200;
    line-height: 1.42;
    font-family: "Courier New", "Courier New", monospace;
}


#content .box-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/img/slider/ig-puzzle-1.png') top center / cover no-repeat;;
    width: 30%;
    height: 100%;
}

#content .box-video > iframe{
    width: 100%;
    height: 700px;
    padding-top: 40px;
}

#content .content-section .Blog{
    margin-top: 4rem;

}

#content .blog-box{
    margin-top: 3rem;
    background-color: #000;
    overflow: hidden;
    
}


#content .blog-item{
    float: left;
    width: 20%;
    margin-left: 5%;
}

#content .blog-name{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 2rem;
    width: 90%;

}

#content .blog-img{
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 2rem; 
}

#content .blog-img:hover {
    opacity: 0.6;
}



#content .blog-def{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 2rem;
    text-align: justify;
    width: 90%;
}

#content .blog-button{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 5rem;
    width: 30%;
}

#content .Contact-body{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
    padding-bottom: 20px;
    height: 800px;
}

#content .infomation{
    float:left;
    width: 50%;
}

#content .infomation .inf-heading{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
}

#content .infomation .info{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
}




#content .contact{
    float:left;
    width: 50%;
    padding-left: 20px;
}

#content .contact .style-label{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content .contact #Name{
    border: 2px solid #ccc;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 60%;
    outline: 0;
}

#content .contact #Email{
    border: 2px solid #ccc;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 60%;
    outline: 0;
}

#content .contact #message-text{
    border: 2px solid #ccc;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 80%;
    outline: 0;
}

#content .contact .Submit{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
}




.blog-model{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    animation: modelIn ease 0.5s;
}

.blog-model.open{
    display: flex;
}


.blog-model .blog-container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
}

.blog-model .close{
    position: absolute;
    right: 10px;
    top: 50px;
    color: #000;
    padding: 20px;
    z-index: 1;
}

.blog-model .ti-close{
    font-weight: 900;
    font-size: 30px;
}

.blog-model .left-box{
    position: absolute;
    left: 10px;
    top: 60px;
    padding: 15px;
    margin-right: 50%;
}

.blog-model .page-img{
    background-image: url('/assets/img/Thương con! Ba mẹ cực cũng đành.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 85%;
    left: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 50%;
    height: 100%;
}

.blog-model .blog-titel{
    background: rgba(0,0,0,.4);
    bottom: 0;
    left: 0;
    top: 75%;
    padding-left: 7%;
    position: fixed;
    text-align: left;
    width: 50%;
}

.blog-model .blog-text{
    position:absolute;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 2rem;
    width: 70%;
    border-bottom: 1px solid #ccc;

}

.blog-model .right-box{
    position: absolute;
    right: 10px;
    top: 50px;
    padding: 15px;
    margin-left: 50%;
}

.blog-model .top-page{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 4rem;
    text-align: center;
    font-style: italic;
}

.blog-model .mid-page{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
}

.blog-model .mid-page::first-letter{
    font-size: 40px;
}

.blog-model .bottom-page{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.32;
    font-family: "Courier New", "Courier New", monospace;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: right;
    font-style: italic;
}




@keyframes modelIn{
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}